@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.ttf');
}
section{
    color:white;
    font-family: 'Roboto';
    background-color: black;
    margin: -8px;
}
nav{
    display: flex;
    justify-content: space-around;
}
h2{
    font-family: 'Roboto';
}
ul{
    display: flex;
    list-style-type: none;
    margin-top: 25px;
}
li{
    margin-left: 30px;
    font-family: 'Roboto';
}
.main{
    display: flex;
    justify-content: space-around;
}
.text{
    margin-left: 125px;
}
h1{
    font-size: 3rem;
    font-weight:bolder;
    width: 400px;
}
p{
    width: 400px;
    margin-top: -30px;
}
button{
    background-color: rgb(56, 100, 221);
    color: white;
    font-size: medium;
    font-weight: bold;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}
.box{
    background-color: #6D747D;
    width: 400px;
    height: 120px;
    padding: 50px;
    margin: 50px;
}
h4{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.random{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: bolder;
}
.boxes{
    display: flex;
    justify-content: center;
}
.box1{
    height: 120px;
    width: 120px;
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    margin: 20px;
}
.sub{
    height: 120px;
    width: 120px;
    /* margin: 20px; */
    margin-left: 25px;
    margin-right: 20px;
}
.container{
    height: 300px;
    width: 1000px;
    background-color: #E5E7EB;
    margin-left: 15%;
}
.signup{
    height: 150px;
    width: 800px;
    margin-left: 20%;
    margin-top: 5rem;
    background-color: #2563df;
    border-radius: 10px;
    color: white;
    padding-top: 50px;
    padding-left: 80px;
    display: flex;
}
footer{
    height: 120px;
    width: 1000px;
    background-color: black;
    margin-left: 15%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}